@using HelpDesk_DomainModel.Models.Identity
@using HelpDesk_MVC.DataTransferObjects.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
        <form method="post" asp-controller="account" asp-action="logout">
            <button type="submit" style="width:auto"
                    class="nav-link btn btn-link py-0">
                Logout @User.Identity.Name
            </button>
        </form>
        </li>
    }
    else
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login" asp-action="Index">Login</a>
    </li>
    }

</ul>
