@using HelpDesk_MVC.Controllers
@using HelpDesk_MVC.Controllers.Identity
@using System.Security.Claims
@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Manager Panel</h1>
    <a href="@Url.Action(nameof(OrderController.ListForManager), "Order")"><p>Orders List<p></a>
    <a href="@Url.Action(nameof(HomeController.Index), "Home")"><p>About Us<p></a>


</div>
