@using HelpDesk_MVC.Controllers
@using HelpDesk_MVC.Controllers.Identity
@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thank you for confirming your email!</h1>
    <a href="@Url.Action(nameof(LoginController.Index), "Login")"><p>Please, Sign In to leave an Order<p></a>
    <a href="@Url.Action(nameof(HomeController.Index), "Home")" class="card-link">Back to Home</a>


</div>
